doctype html
html
  head
    title iLabs - #{subtitle}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-2.1.1.min.js', type='text/javascript')
  body
    block content